{{#*inline "body"}}
<main>
  <h1>Laada Management UI</h1>
  <h3>Welcome {{ user }}</h3>
  <h4>OID: <code>{{ oid }}</code></h4>
  {{#if token}}
  <p>Your token was generated at {{ token.created_at }}</p>
  {{/if}}
  <form method="POST" id="" action="/manage/register">
    <input type="submit" value="Regenerate Token"/>
  </form>
</main>
{{/inline}}
{{> base.html.hbs}}
