<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Untitled</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to improve
      your experience.
      </p>
    <![endif]-->

    <h1>Manage {{ email }}</h1>
    <h2> {{ oid }}</h2>

    <form method="POST" id="" action="/manage/register">
      <input type="text" name="authenticator_name" value="" />
      <input type="submit"/>
    </form>

    <h3>Tokens</h3>
    <ul>
      <li>{{ laada_token }}</li>
    </ul>

  </body>
</html>
