<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Laada Server</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/dist/node_modules/@patternfly/patternfly/patternfly.min.css" type="text/css" media="screen" />
    <!-- Place favicon.ico in the root directory -->

  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a> to improve
      your experience.
      </p>
    <![endif]-->
    <div class="pf-c-page">
      <header class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
          <h1 href="#" class="pf-c-page__header-brand-link pf-c-title pf-m-xl">
            Laada
          </h1>
        </div>
      </header>
      <main class="pf-c-page__main" tabindex="-1">
        <section class="pf-c-page__main-section pf-m-limit-width pf-m-align-center">
          <div class="pf-c-page__main-body">
            {{> body}}
          </div>
        </section>
      </main>
    </div>

  </body>
</html>
