{{#*inline "body"}}
<div class="pf-c-card" id="card-basic-example">
  <div class="pf-c-card__title pf-c-title pf-m-xl">Welcome to the Laada Management UI</div>
  <div class="pf-c-card__body">
    <a href="/manage"><button class="pf-c-button pf-m-primary">Manage User</button></a>
  </div>
</div>
{{/inline}}
{{> base.html.hbs}}
